* {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif Display", serif;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}
p {
  font-family: "Lato", sans-serif;
}
h7 {
  line-height: 30px;
  font-family: "Lato", sans-serif;
}
.container {
  margin: 0;
  padding: 0;
}
span {
  padding-left: 20px;
  margin-left: 10px;
}
span a {
  color: black;
}
a {
  color: black;
  text-decoration: none;
}
.phone {
  color: black;
}
.phone:hover {
  color: black;
}

#main-link {
  padding-left: 80px;
}

h2 {
  padding-bottom: 20px;
  font-family: "Lato", sans-serif;
}

div .col-sm-6 {
  padding: 0;
  border: 1px solid;
  line-height: 20px;
  max-height: 700px;
}
div .col-sm-6 h6 {
  font-size: 20px;
}
h1 {
  padding-top: 200px;
  padding-left: 70px;
  width: 80%;
}
img {
  border: 1px solid black;
}
col {
  width: 786px;
  height: 800px;
  padding: 0px;
}
div.col {
  padding: 0px;
}
#home {
  background-color: #7297768e;
}
.mission {
  width: 90%;
  margin-bottom: 50px;
}
#classes {
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}
h3 {
  text-align: center;
  padding: 10px;
  color:#eeedeb;
}
#cards-heading{
  color: #12110e;
}
#icon {
  border: transparent;
}
#home-cards {
  background-color: transparent;
  border: transparent;
}
section .cards {
  padding: 5px;
}
ul {
  padding: 3em;
}
h6 {
  font-family: "Lato", sans-serif;
}

#text {
  background-color: #7297768e;
  line-height: 3em;
  padding-top: 150px;
  padding-left: 25px;
  padding-right: 25px;
}

h5,
#h5 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  background-color: #eeedeb;
}

.container-fluid {
  background-color: #eeedeb;
  border: 1px solid;
}

img {
  max-height: 700px;
}
#class-img {
  width: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
  .card {
    margin-top: 30px;
  }
  #text {
    line-height: 1.9em;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .heading-text {
    display: none;
  }
  a .footer-logo {
    display: hidden;
  }
  #carousal-img {
    width: 90%;
  }
  button {
    margin-bottom: 10px;
  }
  #class-img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h1 {
    font-size: 1.4rem;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  h1 {
    font-size: 7rem;
  }
  #home-cards {
    width: 300px;
  }
  .card-img-top {
    height: 250px;
    width: 200px;
  }
  h1 #class {
    font-size: 20px;
    line-height: 35px;
    margin: 10px;
    padding: 10px;
  }

  #class-img {
    width: 100%;
    display: block;
    margin-left: auto;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  #home-cards {
    width: 400px;
  }
  .card-img-top {
    height: 400px;
    width: 400px;
  }
  img #class-img {
    width: 400px;
    height: 400px;
  }
  #class-img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* classes */
figcaption {
  padding-top: 10px;
  font-size: 25px;
}

#class {
  text-align: center;
  padding: 30px;
}

div #plans {
  font-size: 40px;
  margin-top: 0;
}
#teachers {
  margin-top: 40px;
}
#bg {
  background-color: #7297768e;
}
.card-body {
  padding: 0;
  margin: 0;
}

#unlimited {
  line-height: 30px;
}
#membership-package {
  border: 1px solid black;
  background-image: url(src/pexels-ihsan-adityawarman-1628230.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
strong {
  font-weight: 1000px;
}
.carousel-inner {
  margin-bottom: 60px;
}

center, main , html {
  margin: 0;
  padding: 0;
}