* {
  padding: 0;
  margin: 0;
}
.container {
  margin: 0;
  padding: 0;
}

:root {
  main--bg--color: ;
}
img {
  width: 100%;
}

col {
  width: 786px;
  height: 800px;
  padding: 0px;
}
div.col {
  padding: 0px;
}
#text {
  background-color: #7297768e;
}

div .hero {
  background-color: whitesmoke;
  height: 200px;
  width: 300px;
  position: absolute;
  margin-left: 700px;
  margin-top: 90px;
  text-align: center;
}
div p {
  margin-top: 60px;
}
.mission {
  width: 90%;
}
#classes {
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}
h3 {
  text-align: center;
}
h1 {
  text-align: center;
}
ul {
  padding: 3em;
}
