* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
}
div p {
  text-align: center;
  margin-top: 300px;
  margin-left: 140px;
  background-color: whitesmoke;
  height: 200px;
  width: 300px;
}
div .col-sm-6 {
  padding: 0;
}
 h1{
  text-align: center;
  position: absolute;
  padding-top: 50px;
}

img {
  width: 100%;
}

col {
  width: 786px;
  height: 800px;
  padding: 0px;
}
div.col {
  padding: 0px;
}
#home {
  background-color: #7297768e;
}

.mission {
  width: 90%;
}
#classes {
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}
h3 {
  text-align: center;
}
h1 {
  text-align: center;
}
ul {
  padding: 3em;
}
.fixed-top {
  background-color: aqua;
}

#text {
  background-color: #7297768e;
  padding-top: 300px;
}
h5 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.container-fluid {
  background-color: #eeedeb;
}
.col {
  max-height: 1000px;
}
img {
  max-height: 1000px;
}
